.container[data-v-f1dedf9e]{align-items:center;display:flex;flex-direction:column;padding-top:2rem}.game-area[data-v-f1dedf9e]{border:1px solid #ccc;height:70vh;margin-top:1rem;position:relative;width:100%}
