<header>
  <h2 class="title">Hidden</h2>
</header>
<p>This page is a little secret! It's not included in the main navigation menu, but it's here for you to explore. On this page, you'll find links to a few extra things I've built. These are small projects and games that I've created for fun. Feel free to check them out and see what you think!</p>
<ul>
    <li><a href="/checker" hx-get="/checker.html" hx-target="#content" hx-push-url="true">Checker</a></li>
    <li><a href="/game" hx-get="/game.html" hx-target="#content" hx-push-url="true">Game</a></li>
    <li><a href="/noughts-and-crosses" hx-get="/noughts-and-crosses.html" hx-target="#content" hx-push-url="true">Noughts and Crosses</a></li>
</ul>
