<footer>
  <article style="margin-bottom: 0">
    <header>Alcohol Checker</header>
    <section class="grid">
      <button id="add-unit" class="outline">Add</button>
      <button id="subtract-unit" class="outline">Subtract</button>
    </section>
    <table class="marginless">
      <thead>
        <tr>
          <th>Units consumed</th>
          <th>Borderline time</th>
          <th>Safe time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="unit-count">0</td>
          <td id="limit-time"></td>
          <td id="sober-time"></td>
        </tr>
      </tbody>
    </table>
  </article>
</footer>
