html {
  user-select: none;
}

.question {
  cursor: help;
}

.marginless {
  margin: 0;
}

.title {
  text-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
}

article {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

h1>a,
h2>a {
  text-decoration: none !important;
}

section,
.content-container {
  max-width: 50em;
  margin: 0 auto;
}

section p,
.content-container p {
  line-height: 1.2em;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 0.2);
}

.router-view-container {
  perspective: 1000px;
  position: relative;
  transition: height 0.5s ease;
  overflow: hidden;
}

.cards-enter-active,
.cards-leave-active,
.cards-reverse-enter-active,
.cards-reverse-leave-active {
  transition: all 0.5s ease-out;
  width: 100%;
  position: absolute;
}

.cards-enter-from {
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  z-index: 1;
}

.cards-enter-to {
  opacity: 1;
  transform: translateY(0) scale(1);
  z-index: 1;
}

.cards-leave-to {
  opacity: 0;
  transform: translateY(-30px) scale(0.95);
  z-index: 0;
}

.cards-reverse-enter-from {
  opacity: 0;
  transform: translateY(-30px) scale(0.95);
  z-index: 1;
}

.cards-reverse-enter-to {
  opacity: 1;
  transform: translateY(0) scale(1);
  z-index: 1;
}

.cards-reverse-leave-to {
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  z-index: 0;
}

.page-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 1em;
}