html {
  user-select: none;
}

.question {
  cursor: help;
}

.marginless {
  margin: 0;
}

.title {
  text-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
}

article {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

h1>a,
h2>a {
  text-decoration: none !important;
}

section,
.content-container {
  max-width: 50em;
  margin: 0 auto;
}

section p,
.content-container p {
  line-height: 1.2em;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 0.2);
}

.router-view-container {
  perspective: 1000px;
}

.cards-enter-active,
.cards-leave-active,
.cards-reverse-enter-active,
.cards-reverse-leave-active {
  transition:
    transform 0.35s ease,
    opacity 0.35s ease;
  transform-style: preserve-3d;
}

.cards-enter-from {
  transform: translateY(-100%) scale(0.8) rotateY(90deg);
  opacity: 0;
}

.cards-leave-to {
  transform: translateY(100%) scale(0.8) rotateY(-90deg);
  opacity: 0;
}

.cards-reverse-enter-from {
  transform: translateY(100%) scale(0.8) rotateY(-90deg);
  opacity: 0;
}

.cards-reverse-leave-to {
  transform: translateY(-100%) scale(0.8) rotateY(90deg);
  opacity: 0;
}