# This workflow will do a clean installation of bun dependencies, cache/restore them, build the source code and run tests across different versions of bun
# For more information see: https://bun.sh/docs/ci

name: Bun CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest
    - run: bun install
    - run: bun run build
    - run: bun run test
